{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h2>All Posts</h2>

{% if user.is_authenticated %}
<div id="all_posts">
	<div class="container">
		<form method="POST" action="{% url 'create' %}">
			{% csrf_token %}
	    	<h4>New post</h4>
	    	<textarea rows="4" cols="110" name="content"></textarea>
	    	<br>
	    	<button class="btn btn-sm btn-outline-primary">Post</button>
		</form>	
	</div>
</div>

<input type="hidden" id="current" name="variable" value="{{ request.user.username }}">

<div id="user_info"></div>
<div id="user_page"></div>

<div id="edit_form">
	<form>
		<textarea id="edit_box" cols="110" rows="4"></textarea>
		<input type="submit" class="btn btn-sm btn-outline-primary" value="Save" id="save">
	</form>
</div>

{% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}
