{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <style>
        .post-container {
            margin: 30px 30px 0 0;  
            overflow: auto;
        }
        .post-thumb {
            float: left;
            margin-left: 20px;
        }
        .post-thumb img {
            display: block;
            max-height: 250px;
            max-width: 250px
        }
        .post-content {
            margin-left: 350px;
        }
        .post-title {
            font-weight: bold;
            font-size: 200%
        }
        </style>
    </head>
    <body>
        <h1>Auctions</h1>
        <div style="margin: 15px">
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'create'%}">Create a new listing</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
            </li>
            <li>
                <a class="nav-link" href="{% url 'categories' %}">Categories</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <hr>
        {% block body %}
        {% endblock %}
    </body>
</html>
