{% extends "sporty/layout.html" %}
{% load static %}


{% block body %}

<div class="box" id="matchweek">

	{% regroup matches_list by date as date_list %}

	{% for date in date_list %}

		<div class="the_date">
			{{date.grouper}}
		</div>

		{% for match in date.list %}
			<div class="match_container" data-value="{{match.data.match_id}}" onclick="open_match(this)">
				<div class="status">
					{% if match.data.status_code == 1%}
						<span id="minute">{{match.data.minute}}'<span>
					{% elif match.data.status_code == 11%}
						HT
					{% elif match.data.status_code == 3 %}
						Finished
					{% else %}
						&nbsp;
					{% endif %}
				</div>
				<div class="match">
					<div class="home main_page_logo">
						{{match.data.home_team.name}} <img src="{{match.data.home_team.logo}}">
					</div>
					<div class="score">
						{% if match.data.status_code == 0 %}
							{{match.time}}

						{% elif match.data.status_code == 4 %}
							Postponed

						{% elif match.data.status_code == 17 %}
							TBD

						{% elif match.data.status_code == 1 or match.data.status_code == 11 or match.data.status_code == 3%}
							{{match.data.stats.home_score}} : {{match.data.stats.away_score}}
						{% endif %}
						
					</div>
					<div class="away main_page_logo">
						<img src="{{match.data.away_team.logo}}"> 
						{{match.data.away_team.name}}
					</div>
				</div>
				<div class="empty_div">
					&nbsp;
				</div>
			</div>
		{% endfor %}
	{% endfor %}

</div>

{% endblock %}

{% block script %}
	<script src="{% static 'sporty/sporty.js' %}"></script>
{% endblock %}