<div class="weeks">
	<button class="btn btn-outline-dark" type="button" value="p" onclick="weekControl(this)">&#171;</button>
	<span>{{start|date:"M d"}}</span><span>{{end|date:"M d"}}</span>
	<button class="btn btn-outline-dark" type="button" value="n" onclick="weekControl(this)">&#187;</button>
</div>

{% if not matches %}
	<div class="no_games">No Games Available This Week</div>
{% endif%}

{% regroup matches by date as date_list %}

{% for date in date_list %}

	<div class="the_date">
		{{date.grouper}}
	</div>

	{% for match in date.list %}
		<div class="match_container" data-value="{{match.id}}" onclick="open_match(this)">
			<div class="status">
				{% if match.status_code == 1%}
					<span id="minute">{{match.minute}}'<span>
				{% elif match.status_code == 11%}
					HT
				{% elif match.status_code == 3 %}
					Finished
				{% else %}
					&nbsp;
				{% endif %}
			</div>
			<div class="match">
				<div class="home main_page_logo">
					{{match.home_name}} <img src="{{match.home_logo}}">
				</div>
				<div class="score">
					{% if match.status_code == 0 %}
						{{match.time}}

					{% elif match.status_code == 4 %}
						Postponed

					{% elif match.status_code == 17 %}
						TBD

					{% elif match.status_code == 1 or match.status_code == 11 or match.status_code == 3%}
						{{match.home_score}} : {{match.away_score}}

					{% endif %}
					
				</div>
				<div class="away main_page_logo">
					<img src="{{match.away_logo}}"> 
					{{match.away_name}}
				</div>
			</div>
			<div class="empty_div">
				&nbsp;
			</div>
		</div>
	{% endfor %}
{% endfor %}

{% if matches %}
<div class="weeks">
	<button class="btn btn-outline-dark" type="button" value="p" onclick="weekControl(this)">&#171;</button>
	<span>{{start|date:"M d"}}</span><span>{{end|date:"M d"}}</span>
	<button class="btn btn-outline-dark" type="button" value="n" onclick="weekControl(this)">&#187;</button>
</div>
{% endif%}
